:root {
  font-size: 16px;
  --white: #3b3b3b;
  --backgroud: #fefefe;

  --color-white: #fff;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple1: #9333FF;
    --color-purple2: indigo;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--backgroud);
}

a {
  color: var(--white);
  text-decoration: none;
}


/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--backgroud);
  height: 4.6875rem;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.btn-menu {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: var(--backgroud);
    text-align: left;
    width: 70%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    border-right: #909090 solid 1px;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
  .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
  }

  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  .nav.active .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  .nav.active .hamburger {
    border-top-color: transparent;
  }
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}


.header_search {
  display: flex;
  align-items: center;
  width: 80%;
  height: 35px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  border: 1px solid #909090;
}

.header_search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.header_search input {
  background: transparent;
  border: none;
  padding: 0px 100px 0px 12px;
  color: #909090;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}




/*BODY*/

body.protected {
  display: none; /* Oculta o corpo por padrão em páginas protegidas */
}

body.protected.visible {
  display: block; /* Exibe o corpo quando autenticado */
}

.inputs{
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  /*background-color: var(--color-dark1);
  border-bottom: 1px solid var(--color-dark1);
  color: var(--color-white);*/
  width: 100%;
  box-sizing: border-box;
  transition: .3s;
}

.inputs:focus{
  border-color: var(--white);
}

button[type="submit"]{
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--white);
  color: var(--color-white);
  cursor: pointer;
  transition: .3s;
}

button[type="submit"]:hover{
  background-color: #181818;
}

#createMedicationForm{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

#createMedicationForm.form-label{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

#createMedicationForm.mb-3{
  margin: 0;
  padding: 0;
  gap:0;
}

.form-control {
  background-color: #f5f5f5;
  border: solid 1px #3b3b3b;
  border-radius: 5px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  width: 80%;
  margin-top: 5%;
  background-color: #f5f5f5;
  border: solid 1px #3b3b3b;
  padding: 2rem;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;
  gap: 2rem;
}

.content form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#userOptions, .userOptions{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.medicationListEmpty{
  background-color: #f5f5f5;
  border: solid 1px #3b3b3b;
  padding: 1rem;
  border-radius: 10px;
}

.contentlist {
  display: flex;
  align-items: center;
  margin-left: 2%;
  width: 96%;
  margin-top: 5%;
  background-color: #f5f5f5;
  border: solid 1px #3b3b3b;
  padding: 1rem;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;
}

.contentPerfilList{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
  width: 96%;
  margin-top: 5%;
  background-color: #f5f5f5;
  border: solid 1px #3b3b3b;
  padding: 2rem;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;
  gap: 2rem;

}



.contentlg {
  display: flex;
  align-items: center;
  margin-left: 5%;
  width: 90%;
  margin-top: 10%;
  background-color: #f5f5f5;
  border: solid 1px #3b3b3b;
  padding: 1rem;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;
}

.contentIndex{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  width: 80%;
  margin-top: 5%;
  background-color: #f5f5f5;
  border: solid 1px #3b3b3b;
  padding: 2rem;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

p {
  margin-bottom: 10px;
}


#changePasswordLink, .contentPerfilList #userProfile #logoutLink{
  margin: 10px;
  text-decoration: none; 
  color: var(--white);

}

.edit-link, .delete-link {
  margin: 15px;
  text-decoration: none; 
  color: var(--white);
}



.first-link, #changeEmailLink {
  margin-right: 5px;
  text-decoration: none; 
  color: var(--white);
}

.edit-link:hover {
  color: #4CAF50; 
}
.delete-link:hover {
  color: #f44336; 
}
.bula-link:hover {
  color: var(----white)
}


#changeEmailForm, #changePasswordForm {
  margin-top: 20px;
}




/*RODAPE*/

.menu-rodape {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Define a altura do rodapé */
  border-top: 1px solid #909090;
}

.menu-rodape a:hover{
  transition: all 0.5s;
  width: 30;
  height: 30;
}
